<div class="container-fluid">
  <div class="row text-center my-4">
    <div class="col-6 dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            Semestre 1
          </button>
      <div class="container-fluid dropdown-menu" aria-labelledby="triggerId">
        <div class="row">
          <div class="col-6">
            Semestr 2
          </div>
          <div class="col-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Semestr 3
          </div>
          <div class="col-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Semestr 4
          </div>
          <div class="col-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <button class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i>Añadir</button>
      </div>
    </div>
    <div class="col-6">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row text-center my-4">
    <div class="col-12 dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            Materia 1
          </button>
      <div class=" dropdown-menu" aria-labelledby="triggerId">
        <p class="dropdown-item">
          Materia 1
        </p>
        <p class="dropdown-item">
          Materia 2
        </p>
        <p class="dropdown-item">
          Materia 3
        </p>
        <button class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i>Añadir</button>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Porcentaje</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row" colspan="3">Promedio ponderado: {{ promedioPonderado | number}}</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let grade of gradeList">
        <th scope="row">
          {{ grade.name }}
          <small>{{ grade.description }}</small>
        </th>
        <th scope="row">
          {{ grade.percentage }}%
        </th>
        <th scope="row">
          <p>
              {{ grade.value }}
          </p>
          <span class="btn btn-secondary text-white" (click)="onEdit(grade)">
            <i class="fas fa-edit"></i>
          </span>
          <span class="btn btn-danger text-white" (click)="onDelete(grade.$key)">
            <i class="fas fa-trash-alt"></i>
          </span>
        </th>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>{{ porcentajeActual*100 | number }}%</td>
        <td>{{ promedioAcumulado | number}} de {{ puntosPosibles | number}}</td>
      </tr>
    </tbody>
  </table>
</div>